body {
  background-color: #D5D5D5;
  color: #3B3B3B;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link.active {
  color: #3DFF17 !important;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #3DFF17;
}
.search-form {
  display: flex;
  max-width: 300px;
}

.search-button:hover {
  background-color: #3DFF17;
  color: white;
  border-color: #3DFF17;
}
h1 {
  color: #3DFF17;
  font-weight: bold;
}
h1 {
  text-shadow: 3px 3px #3B3B3B;
}
